imgs/
ADE_EXPANDED/
ADEANNTEST/
ADEChallengeData2016/
OnlyHotels/
past_experiments/
Results/
__pycache__/
.cph_tmpeq2yawo9/
.cph_tmpeq2yawo9/
.ipynb_checkpoints/
ade20k-resnet50dilated-ppm_deepsup/
Misc/
montages/
ckpt/
hotels-resnet50dilated-ppm_deepsup/
.vscode/
features/
pretrained/
runs/
.cph_tmpeq2yawo9/
hotels-resnet50dilated-ppm_deepsup/